@font-face {
    font-family: 'akira';
    src: url('~@/assets/fonts/Akira Expanded Demo.otf')
    format('opentype');

    font-family:'helvetica';
    src: url('~@/assets/fonts/Helvetica CE Medium.otf')
    format('opentype');
}